$very-light-purple: #ACA4AF;
$dark-purple: #956FDD;
$light-purple: #CA7CEF;
$light: #DBD6E7;
$light-light-purple: #A89EDD;
$light-black: rgba(0, 0, 0, 0.4);


// #DBD6E7
// #956FDD 
// #CA7CEF
// #ACA4AF
// #A89EDD