@import "colors";
@import "mixins";

body {
  direction: rtl;
  font-family: 'IranianSansRegular'; 
}

#top-bar {
  z-index: 5;
  padding: 5px;
  background-color: $light-purple;
}

.bars-icon {
  font-size: 25px;
}

.brand-name {
  font-size: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: $dark-purple;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.open-sidenav {
  width: 200px;
}

.side-brand-name {
  padding: 8px 20px 8px 8px;
  font-size: 40px;
  color: white;
  display: block;
}

.sidenav a {
  @extend .side-brand-name;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#calender {
  z-index: 5;
  @include background;
}

.top-day {
  font-size: 5rem;
}

.top-date {
  font-size: 1.5rem;
}

.calender-bottom {
  padding: 5px 12px 5px 12px;
}

.gone {
  display: none !important;
}

.calender-bottom span {
  font-size: 20px;
}

.week {
  color: $light;
}

.day {
  padding: 0 5px 0 5px; 
  margin: 5px 0 5px 0;
}

.today {
  border-radius: 50%;
  background-color: $light-light-purple;
}

.selected-day {
  border-radius: 50%;
  background-color: white;
  color: $dark-purple;
}

#list {
  padding-top: 20px;
}

.list-item {
  border-color: $light-light-purple !important;
}

.checkbox {
  position: relative;
  width: 2em;
  height: 2em;
  color: $light-light-purple;
  border: 1px solid $light-light-purple;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  transition: all 175ms linear;
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 3.5px;
    left: 10px;
    width: 10px;
    height: 18px;
    border-style: solid;
    border-color: $light;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: $light;
    border-color: $dark-purple;
    background: $dark-purple;
    &::before {
      opacity: 1;
    }
  }
}

label {
  position: relative;
  font-weight: 600;
  padding: 0 1.3rem 0 0;
  margin: 0;
}

label .list-item-text {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}

label .list-item-time {
  font-size: 1.2rem;
  color: $light-black;
}

#add-to-list {
  width: 100%;
  padding: 2% 5% 0 5%;
}

#add-to-list input {
  border: 1px solid $light-light-purple;
  border-radius: 0.4rem;
}

#add-to-list span {
  color: $dark-purple;
  background-color: white;
}

#add-to-list button {
  background-color: $dark-purple;
  color: white;
  border-radius: 0.4rem;
}

.delete-icon {
  font-size: 25px;
  margin-left: 20px;
  color: $delete-red;
}